@use '../utils/' as *;

.discover {
	margin-bottom: $mb-l;

	&__location {
		display: flex;
		justify-content: center;
		gap: 1.6rem;
		padding: 1.8rem;
		color: $clr-gray-700;
		background-color: $clr-gray-200;

		& p {
			position: relative;
		}

		&__icon {
			fill: $clr-gray-700;
			position: absolute;
			left: -3rem;
		}
	}

	&__content {
		padding: 6.4rem 4rem;
		background-color: $clr-gray-100;
		text-align: center;

		&__heading {
			font-size: $fs-big-title;
			font-weight: $fw-extrabold;
			line-height: 1;
			margin-bottom: $mb-xs;
		}

		&__description {
			font-size: $fs-large;
			font-weight: $fw-light;
			margin-bottom: $mb-m;
		}
	}
}
