@use '../utils/variables' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.8rem;
	box-shadow: $shadow-header;
	position: relative;

	&__logo {
		width: 18rem;
	}
}

.header--menu {
	position: relative;
	box-shadow: none;

	&__icon {
		width: 2rem;
		height: 2rem;
		position: absolute;
		top: 50%;
		left: 6%;
		transform: translate(-50%, -50%);
	}
}
