@use '../utils/' as *;

.menu {
	background-color: $clr-gray-100;
	border-radius: $br-400 $br-400 0 0;
	position: relative;

	&-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 3.2rem;
		padding-bottom: 6.4rem;
		margin-top: -5rem;
		max-width: 100rem;
	}

	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		& h1 {
			font-family: 'Shrikhand', cursive;
			font-size: $fs-big-title;
			max-width: 80%;
		}

		svg {
			margin-right: 2rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		width: 100%;

		&__category {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			& h2 {
				margin-top: 2.4rem;
				position: relative;
				text-transform: uppercase;

				&::after {
					content: '';
					width: 4rem;
					height: 0.3rem;
					position: absolute;
					bottom: -0.6rem;
					left: 0;
					background-color: $clr-tertiary-400;
				}
			}
		}
	}

	.button {
		margin-top: 4rem;
		padding: 1.8rem 5.4rem;
	}
}

.menu-image {
	height: 300px;

	& img {
		height: 100%;
		object-fit: cover;
	}
}

//

.menu__list__category {
	&:nth-child(1) {
		animation: display-menu 1s;
	}

	&:nth-child(2) {
		animation: display-menu 1.5s;
	}

	&:nth-child(3) {
		animation: display-menu 2s;
	}
}

@keyframes display-menu {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
