@use '../utils/' as *;

.restaurant {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	padding-top: 5.6rem;
	padding-bottom: 5.6rem;
	background-color: $clr-gray-100;

	@include respond(tablet) {
	}

	&__heading {
		font-size: $fs-title;
		font-weight: $fw-extrabold;
		// margin-bottom: $mb-s;
	}
}
