@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
/* ---------------- COLORS ---------------- */
/* ---------------- FONT-SIZE ---------------- */
/* ---------------- FONT-SIZE ---------------- */
/* ---------------- FONT WEIGHT ---------------- */
/* ---------------- SPACINGS ---------------- */
/* ---------------- BOX-SHADOW ---------------- */
/* ---------------- BORDER-RADIUS ---------------- */
.container {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}

.flex {
  display: flex;
}

.ac {
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
summary {
  list-style: none;
}

html,
html:focus-within {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: hsl(0deg, 0%, 10%);
  overflow-x: hidden;
}

img,
picture,
svg {
  width: 100%;
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
  box-shadow: 0 3px 5px 0 hsla(0deg, 0%, 10%, 0.13);
  position: relative;
  margin: 0 auto;
}
.header__logo {
  width: 18rem;
}

.header--menu {
  max-width: 100rem;
  position: relative;
  box-shadow: none;
}
.header--menu__icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
}

.discover {
  margin-bottom: 6.4rem;
}
.discover__location {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding: 1.8rem;
  color: hsl(0deg, 0%, 30%);
  background-color: hsl(0deg, 0%, 90%);
}
.discover__location p {
  position: relative;
}
.discover__location__icon {
  fill: hsl(0deg, 0%, 30%);
  position: absolute;
  left: -3rem;
}
.discover__content {
  padding: 6.4rem 4rem;
  background-color: hsl(0deg, 0%, 96%);
  text-align: center;
}
.discover__content__heading {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1.6rem;
}
.discover__content__description {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
}

.how {
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}
@media only screen and (min-width: 40em) {
  .how {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.how__heading {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
}
.how__steps {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.restaurant {
  background-color: hsl(0deg, 0%, 96%);
}
.restaurant-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
  max-width: 100rem;
}
.restaurant__heading {
  font-size: 2.4rem;
  font-weight: 900;
}

.footer {
  background-color: hsl(0deg, 0%, 30%);
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  color: hsl(0deg, 0%, 100%);
}
.footer-container {
  max-width: 100rem;
}
.footer__logo {
  display: block;
  height: 4rem;
  margin-bottom: 1rem;
  width: min-content;
}
.footer__logo svg {
  fill: hsl(0deg, 0%, 100%);
  height: 100%;
  width: 12rem;
  transition: all 0.3s;
  cursor: pointer;
}
.footer__logo svg:hover {
  width: 13rem;
  fill: hsl(0deg, 0%, 90%);
}
.footer__nav__links li {
  gap: 1.2rem;
}
.footer__nav__links li:hover {
  color: hsl(0deg, 0%, 90%);
  transition: all 0.3s;
}
.footer__nav__links li svg {
  fill: hsl(0deg, 0%, 100%);
  cursor: pointer;
  transition: all 0.3s;
}
.footer__nav__links li svg:hover {
  fill: hsl(0deg, 0%, 90%);
}
.footer__nav__links li:not(:last-child) {
  margin-bottom: 0.6rem;
}

.menu {
  background-color: hsl(0deg, 0%, 96%);
  border-radius: 4rem 4rem 0 0;
  position: relative;
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 6.4rem;
  margin-top: -5rem;
  max-width: 100rem;
}
.menu__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__heading h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.8rem;
  max-width: 80%;
}
.menu__heading svg {
  margin-right: 2rem;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}
.menu__list__category {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menu__list__category h2 {
  margin-top: 2.4rem;
  position: relative;
  text-transform: uppercase;
}
.menu__list__category h2::after {
  content: "";
  width: 4rem;
  height: 0.3rem;
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  background-color: hsl(165deg, 55%, 74%);
}
.menu .button {
  margin-top: 4rem;
  padding: 1.8rem 5.4rem;
}

.menu-image {
  height: 300px;
}
.menu-image img {
  height: 100%;
  object-fit: cover;
}

.menu__list__category:nth-child(1) {
  animation: display-menu 1s;
}
.menu__list__category:nth-child(2) {
  animation: display-menu 1.5s;
}
.menu__list__category:nth-child(3) {
  animation: display-menu 2s;
}

@keyframes display-menu {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0deg, 0%, 100%);
  z-index: 999;
  position: fixed;
  animation: loading-screen 4s linear;
  opacity: 0;
  visibility: hidden;
}
.loading-spinner svg {
  width: 4.8rem;
  fill: hsl(0deg, 0%, 30%);
  animation: rotate 4s linear;
}

@keyframes loading-screen {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
    visibility: visible;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: rotate(360deg);
  }
}
.step {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: hsl(0deg, 0%, 96%);
  padding: 2.4rem 1.6rem;
  box-shadow: 0 6px 8px 0 hsla(0deg, 0%, 10%, 0.13);
  border-radius: 1.6rem;
  cursor: pointer;
}
@media only screen and (min-width: 40em) {
  .step {
    width: 56rem;
  }
}
.step__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background-color: hsl(267deg, 65%, 60%);
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 96%);
  margin-left: -2.6rem;
}
.step__icon {
  fill: hsl(0deg, 0%, 50%);
  height: 1.8rem;
  width: 1.8rem;
}
.step__description {
  font-weight: 700;
}

.step.step--final {
  background-color: hsl(267deg, 65%, 95%);
}
.step.step--final .step__icon {
  fill: hsl(267deg, 65%, 60%);
}

.button {
  display: inline-block;
  padding: 1.8rem 2.4rem;
  color: hsl(0deg, 0%, 96%);
  font-weight: 700;
  border-radius: 100rem;
  background: linear-gradient(0deg, hsl(267deg, 65%, 60%), hsl(316deg, 100%, 73%));
  opacity: 1;
  transition: opacity 0.3s;
}
.button:hover {
  opacity: 0.85;
}

.restaurant-card {
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px 0 hsla(0deg, 0%, 10%, 0.08);
}
.restaurant-card__image picture {
  height: 20rem;
}
.restaurant-card__image picture img {
  object-fit: cover;
  height: 100%;
}
.restaurant-card__content {
  display: flex;
  align-items: start;
  padding: 1.8rem 1.2rem;
  padding-right: 2.4rem;
  position: relative;
}
.restaurant-card__content__description {
  flex: 1;
}
.restaurant-card__content__description a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.restaurant-card__tag {
  content: "Nouveau";
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: hsl(165deg, 55%, 74%);
  color: hsl(165deg, 55%, 35%);
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.4rem 1.2rem;
}

/* -------- Heart Icon Animation -------- */
.icon-heart {
  width: 2.8rem;
  height: 2.8rem;
}

.icon-heart-grp {
  cursor: pointer;
}

.icon-heart-grp:hover .icon-stroke {
  stroke: url(#grad1);
}

.heart-full {
  transform: scale(0);
  fill: url(#grad1);
  transition: all 0.6s;
  transform-origin: 45% 100%;
}

.icon-heart-grp:hover .heart-full {
  transform: scale(1);
}

.icon-heart-grp .icon-stroke {
  fill: transparent;
  stroke-width: 40px;
  stroke: hsl(0deg, 0%, 50%);
  transition: all 0.6s;
}

.menu-card {
  display: flex;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 hsla(0deg, 0%, 10%, 0.08);
  cursor: pointer;
}
.menu-card__content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr min-content;
  row-gap: 0.4rem;
  padding: 1.2rem;
  flex: 1;
  transition: all 0.3s;
  margin-right: -50px;
}
.menu-card__content:hover + .menu-card__icon {
  transform: translateX(0);
}
.menu-card__content:hover {
  margin-right: 0px;
}
.menu-card__content__name {
  grid-row: 1/2;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.8rem;
}
.menu-card__content__description {
  grid-row: 2/3;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.8rem;
}
.menu-card__content__price {
  grid-row: 1/-1;
  align-self: end;
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
}
.menu-card__icon:hover {
  transform: translateX(0);
  margin-left: 50px;
}
.menu-card__icon {
  transform: translateX(100%);
  width: 5rem;
  background-color: hsl(165deg, 55%, 74%);
  position: relative;
  transition: all 0.3s;
}
.menu-card__icon__wrapper {
  background-color: hsl(0deg, 0%, 96%);
  padding: 1rem;
  border-radius: 50%;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-card__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: hsl(165deg, 55%, 74%);
  width: 1.4rem;
  height: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
