@use '../utils/' as *;

.menu-card {
	display: flex;
	background-color: $clr-white;
	border-radius: $br-150;
	overflow: hidden;
	box-shadow: $shadow-light;
	cursor: pointer;

	&__content {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 1fr min-content;
		row-gap: 0.4rem;
		padding: 1.2rem;
		flex: 1;
		transition: all 0.3s;
		margin-right: -50px;

		&:hover + .menu-card__icon {
			transform: translateX(0);
		}

		&:hover {
			margin-right: 0px;
		}

		&__name {
			grid-row: 1 / 2;
			font-weight: $fw-bold;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			padding-right: 0.8rem;
		}

		&__description {
			grid-row: 2 / 3;
			font-size: $fs-small;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			padding-right: 0.8rem;
		}

		&__price {
			grid-row: 1 / -1;
			align-self: end;
			margin-right: 1rem;
			font-weight: $fw-bold;
			font-size: $fs-small;
		}
	}

	&__icon:hover {
		transform: translateX(0);
		margin-left: 50px;
	}

	&__icon {
		transform: translateX(100%);
		width: 5rem;
		background-color: $clr-tertiary-400;
		position: relative;
		transition: all 0.3s;

		&__wrapper {
			background-color: $clr-gray-100;
			padding: 1rem;
			border-radius: 50%;
			position: relative;
			@include center;
		}

		svg {
			@include center;
			fill: $clr-tertiary-400;
			width: 1.4rem;
			height: 1.4rem;
		}
	}
}
