@use '../utils/' as *;

.restaurant-card {
	position: relative;
	border-radius: $br-200;
	overflow: hidden;
	background-color: $clr-white;
	display: flex;
	flex-direction: column;
	box-shadow: $shadow-light;

	&__image {
		& picture {
			height: 20rem;

			& img {
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.8rem 1.2rem;

		&__description {
			& a {
				display: inline-block;
				font-size: $fs-large;
				font-weight: $fw-bold;
				margin-bottom: 0.6rem;
			}
		}

		&__icon {
			height: 2.4rem;
			width: 2.4rem;
			fill: $clr-gray-700;
			margin-right: 1.2rem;
			align-self: flex-start;
		}
	}

	&__tag {
		content: 'Nouveau';
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		background-color: $clr-tertiary-400;
		color: $clr-tertiary-700;
		border-radius: 0.2rem;
		font-weight: $fw-medium;
		font-size: $fs-small;
		padding: 0.4rem 1.2rem;
	}
}
