@use '../utils/' as *;

.restaurant-card {
	position: relative;
	border-radius: $br-200;
	overflow: hidden;
	background-color: $clr-white;
	display: flex;
	flex-direction: column;
	box-shadow: $shadow-light;

	&__image {
		& picture {
			height: 20rem;

			& img {
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&__content {
		display: flex;
		align-items: start;
		padding: 1.8rem 1.2rem;
		padding-right: 2.4rem;
		position: relative;

		&__description {
			flex: 1;
			& a {
				display: inline-block;
				font-size: $fs-large;
				font-weight: $fw-bold;
				margin-bottom: 0.6rem;
			}
		}
	}

	&__tag {
		content: 'Nouveau';
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		background-color: $clr-tertiary-400;
		color: $clr-tertiary-700;
		border-radius: 0.2rem;
		font-weight: $fw-medium;
		font-size: $fs-small;
		padding: 0.4rem 1.2rem;
	}
}

/* -------- Heart Icon Animation -------- */

.icon-heart {
	width: 2.8rem;
	height: 2.8rem;
}

.icon-heart-grp {
	cursor: pointer;
}

.icon-heart-grp:hover .icon-stroke {
	stroke: url(#grad1);
}

.heart-full {
	transform: scale(0);
	fill: url(#grad1);
	transition: all 0.6s;
	transform-origin: 45% 100%;
}

.icon-heart-grp:hover .heart-full {
	transform: scale(1);
}

.icon-heart-grp .icon-stroke {
	fill: transparent;
	stroke-width: 40px;
	stroke: $clr-gray-400;
	transition: all 0.6s;
}
