@use '../utils/' as *;

.restaurant-card {
	position: relative;
	border-radius: $br-200;
	overflow: hidden;
	background-color: $clr-white;
	display: flex;
	flex-direction: column;
	box-shadow: $shadow-light;

	&__image {
		& picture {
			height: 20rem;

			& img {
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&__content {
		display: flex;
		align-items: center;
		// justify-content: center/;
		padding: 1.8rem 1.2rem;
		position: relative;

		&__description {
			flex: 1;
			& a {
				display: inline-block;
				font-size: $fs-large;
				font-weight: $fw-bold;
				margin-bottom: 0.6rem;
			}
		}
	}

	&__tag {
		content: 'Nouveau';
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		background-color: $clr-tertiary-400;
		color: $clr-tertiary-700;
		border-radius: 0.2rem;
		font-weight: $fw-medium;
		font-size: $fs-small;
		padding: 0.4rem 1.2rem;
	}
}
