@use '../utils/' as *;

.container {
	max-width: 120rem;
	padding: 0 2.4rem;
	margin: 0 auto;
}

.icon {
	width: 1.6rem;
	height: 1.6rem;
}

.flex {
	display: flex;
}

.ac {
	align-items: center;
}

/* -------- Heart Icon Animation -------- */

#icon-heart {
	width: 2.8rem;
	height: 2.8rem;
}

#icon-heart-grp {
	cursor: pointer;
}

#icon-heart-grp:hover #icon-stroke {
	stroke: url(#grad1);
}

#heart-full {
	transform: scale(0);
	fill: url(#grad1);
	transition: all 0.6s;
	transform-origin: 45% 100%;
}

#icon-heart-grp:hover #heart-full {
	transform: scale(1);
}

#icon-heart-grp #icon-stroke {
	fill: transparent;
	stroke-width: 40px;
	stroke: $clr-gray-400;
	transition: all 0.6s;
}
