@use '../utils/' as *;

.container {
	max-width: 120rem;
	padding: 0 2.4rem;
	margin: 0 auto;
}

.icon {
	width: 1.6rem;
	height: 1.6rem;
}

.flex {
	display: flex;
}

.ac {
	align-items: center;
}

/* -------- Heart Icon Animation -------- */

.heart-stroke {
	position: absolute;
	top: 2rem;
	right: 1rem;
	height: 2.4rem;
	width: 2.4rem;
	fill: $clr-gray-700;
	margin-right: 1.2rem;
	// padding: 1rem;
	cursor: pointer;

	&:hover + .heart-full {
		transform: scale(1);
	}
}

.heart-full {
	position: absolute;
	top: 2rem;
	right: 1rem;
	height: 2.4rem;
	width: 2.4rem;
	margin-right: 1.2rem;
	cursor: pointer;

	transition: all 0.6s;
	transform: scale(0);
	transform-origin: 50% 100%;

	&:hover {
		transform: scale(1);
	}
}
