@use '../abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Remove default margin, padding and font
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

a {
	text-decoration: none;
}

ul,
ol,
summary {
	list-style: none;
}

// Set core root defaults
html,
html:focus-within {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

// Set core body defaults
body {
	font-family: var(--ff-body), sans-serif;
	font-weight: 400;
	font-size: var(--fs-regular);
	line-height: 1;
	color: #555;
	overflow-x: hidden;
}

// Make images easier to work with
img,
picture,
svg {
	width: 100%;
	display: block;
}
