@use '../utils/' as *;

.discover {
	margin-bottom: $mb-l;
	background-color: $clr-gray-200;

	&__location {
		display: flex;
		justify-content: center;
		gap: 1.6rem;
		padding: 1.8rem;
		color: $clr-gray-700;
		display: inline-block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0%);

		& input {
			border: none;
			background-color: transparent;
			padding: 5px;
			width: 120px;
		}

		& input:focus::placeholder {
			color: transparent;
		}

		& input:focus {
			border: none;
			outline: none;
		}

		& ::placeholder {
			text-align: center;
			color: $clr-black;
		}

		&__icon {
			fill: $clr-gray-700;
			position: absolute;
			left: -1rem;
			top: 49%;
			transform: translateY(-50%);
		}
	}

	&__content {
		padding: 6.4rem 4rem;
		background-color: $clr-gray-100;
		text-align: center;

		&__heading {
			font-size: $fs-big-title;
			font-weight: $fw-extrabold;
			line-height: 1;
			margin-bottom: $mb-xs;
		}

		&__description {
			font-size: $fs-large;
			font-weight: $fw-light;
			margin-bottom: $mb-m;
		}
	}
}
