@use '../utils/' as *;

.how {
	max-width: 100rem;
	margin: 0 auto;
	margin-bottom: $mb-l;

	@include respond(tablet) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__heading {
		font-size: $fs-title;
		font-weight: $fw-extrabold;
		margin-bottom: $mb-s;
	}

	&__steps {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}
}
