/* ---------------- COLORS ---------------- */
$clr-primary-100: hsl(267, 65%, 95%);
$clr-primary-400: hsl(267, 65%, 70%);
$clr-primary-700: hsl(267, 65%, 60%);

$clr-secondary-400: hsl(316, 100%, 83%);
$clr-secondary-700: hsl(316, 100%, 73%);

$clr-tertiary-400: hsl(165, 55%, 74%);
$clr-tertiary-700: hsl(165, 55%, 35%);

$clr-black: hsl(0, 0%, 10%);
$clr-white: hsl(0, 0%, 100%);
$clr-gray-700: hsl(0, 0%, 30%);
$clr-gray-400: hsl(0, 0%, 50%);
$clr-gray-200: hsl(0, 0%, 90%);
$clr-gray-100: hsl(0, 0%, 96%);

$grd-purple-700: linear-gradient(0deg, $clr-primary-700, $clr-secondary-700);

$clr-shadow: hsl(0, 0%, 10%, 13%);
$clr-shadow-light: hsl(0, 0%, 10%, 8%);

/* ---------------- FONT-SIZE ---------------- */
$ff-title: 'Shrikhand', cursive;
$ff-body: 'Roboto', sans-serif;

/* ---------------- FONT-SIZE ---------------- */
$fs-small: 1.4rem;
$fs-regular: 1.6rem;
$fs-medium: 1.8rem;
$fs-large: 2rem;
$fs-title: 2.4rem;
$fs-big-title: 2.8rem;

/* ---------------- FONT WEIGHT ---------------- */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extrabold: 900;

/* ---------------- SPACINGS ---------------- */
$mb-xs: 1.6rem;
$mb-s: 2.4rem;
$mb-m: 3.2rem;
$mb-l: 6.4rem;

/* ---------------- BOX-SHADOW ---------------- */
$shadow: 0 6px 8px 0 $clr-shadow;
$shadow-light: 0 2px 10px 0 $clr-shadow-light;
$shadow-header: 0 3px 5px 0 $clr-shadow;
$shadow-hover: 0 10px 15px 0 $clr-shadow;

/* ---------------- BORDER-RADIUS ---------------- */
$br-100: 0.8rem;
$br-200: 1.6rem;
$br-rounded: 100rem;
